<div class="container">

  <table class="table table-striped">

    <thead>

        <th>ID</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Artist</th>
        <th>Duration(Seconds)</th>

    </thead>

    <tbody>

        <tr *ngFor="let music of musicList$ | async">

            <td>{{music.id}}</td>
            <td>{{music.name}}</td>
            <td>{{music.artist}}</td>
            <td>{{music.genre}}</td>
            <td>{{music.durationInSeconds}}</td>

            <td>
              <button class="btn btn-outline-none" (click)="deleteMusic(music)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-recycle" viewBox="0 0 16 16">
                  <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"/>
                </svg>
              </button>
              <button class = "btn btn-outline-none" data-bs-toggle="modal" data-bs-target = "#updateMusicBackdrop" (click)="editMusic(music.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
              </button>
            <div class="modal fade" id="updateMusicBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Edit Music</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                        id="editMusicCloseModal"></button>
                                </div>

                                <div class="modal-body">
                                    <form (submit)="updateMusic()">
                                        <div class="mb-3">
                                            <label for="trackName" class="form-label">Track Name</label>
                                            <input type="text" class="form-control" id="trackName" name="name"
                                                placeholder="enter track name here" [(ngModel)]="track.name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="trackArtist" class="form-label">Artist</label>
                                            <input type="text" class="form-control" id="trackArtist" name="artist"
                                                placeholder="enter track artist here" [(ngModel)]="track.artist">
                                        </div>
                                        <div class="mb-3">
                                            <label for="trackGenre" class="form-label">Genre</label>
                                            <input type="text" class="form-control" id="trackGenre" name="genre"
                                                placeholder="enter track genre here" [(ngModel)]="track.genre">
                                        </div>
                                        <div class="mb-3">
                                            <label for="trackDuration" class="form-label">Duration</label>
                                            <input type="text" class="form-control" id="trackDuration"
                                                name="durationInSeconds" placeholder="enter duration in seconds here"
                                                [(ngModel)]="track.durationInSeconds">
                                        </div>
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary" id = "editMusicModalClose">Update Track</button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
